<div class="validate">
	<form id="categoryRequestForm" method="POST" action="/request">
		Name of category you would like to see:
		<input type="text" name="categoryName" required>
		<input type="submit">
	</form>
</div>