<div class="validate">
	<form class="mx-4 my-3" id="categoryRequestForm" method="POST" action="/request">
		Name of category you would like to see:
		<input type="text" name="categoryName" required>
		<input class="p-1" type="submit">
	</form>
</div>