<form method="POST" action="/create">
	<select name="category">
		{{#each categories}}
			<option value="{{_id}}">{{name}}</option>
		{{/each}}
	</select>
	<input type="text" name="title" value="{{err.errors.name.value}}">
	<select name="type">
		<option value="text">text</option>
		<option value="image">image</option>
	</select>
	<input type="text" name="body" value="{{err.errors.name.value}}">
	
	
	<input type="submit">
</form>
