<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
		<header>reddit clone</header>
		{{#if username}}
			Logged in as {{username}}
		{{/if}}
		<nav>
			<a href='/'> all </a> | 
			{{#each categories}}
				<a href='/c/{{name}}'> {{name}} </a> | 
			{{/each}}
		</nav>

		{{> errorPartial}}

		{{{body}}}
</body>
</html>