<!DOCTYPE html>
<head>
	<title>Reddit Clone</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
		<header>reddit clone</header>
		{{#if username}}
			Logged in as {{username}}
		{{/if}}
		<nav>
			<a href='/'> all </a> | 
			{{#each categories}}
				<a href='/c/{{name}}'> {{name}} </a> | 
			{{/each}}
		</nav>

		{{> errorPartial}}

		{{{body}}}

		<script type="text/javascript" src="/client.js"></script>
</body>
</html>