<h2> Register </h2>

<form method="POST" action="">
	username: <input type="text" name="username">
	password: <input type="text" name="password">
	password confirmation: <input type="text" name="passwordConfirmation">
	<input type="submit">
</form>
