<a href="/create">
	<div class="bg-gray-200 border border-gray-500 text-gray-900 font-light hover:bg-white hover:border-blue-500 rounded-lg mx-4 my-3 px-5 py-2 max-w-3xl">
		+ Create Post
	</div>
</a>